# ============================================================================
# Node.js
# ============================================================================

node_modules/


# ============================================================================
# Variables sensibles
# ============================================================================

.env


# ============================================================================
# SQLite
# ============================================================================

*.db
*.sqlite
*.sqlite3


# ============================================================================
# Logs
# ============================================================================

logs/
*.log


# ============================================================================
# Windows
# ============================================================================

Thumbs.db
Desktop.ini